extends layout

block content
    h3 Add book
    form(method='POST', action='/book', class="col-form")
        input(type='text', name='title', placeholder='title', required)
        input(type='text', name='author', placeholder='author')
        input(type='number', name='page_count', placeholder='page_count')
        input(type='number', name='year', placeholder='year')
        input(type='submit')