extends layout

block content
    h3 Add book
    form(method='POST', action='/book-save')
        input(type='text', name='title', placeholder='title', required)
        input(type='text', name='title', placeholder='author')
        input(type='submit')